@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';

body{
  background-color: #272727;
  color: white;
  padding-top: 10vh;
  font-family: 'Roboto Mono', monospace;
}

#submit{
  color: white;
  display: block;
  margin: 2vh 0 5vh 0;
}

.six.columns:nth-child(2n+1){
  margin-left: 0;
}

#logo{
  max-width: 50vh;
  display: block;
  margin: 0 auto;
}

#nav{
  text-align: center;
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
}
#nav .columns{
  color: #272727;
  background-color: white;
  display: block;
  padding: .5em;
  margin: .2em;
  cursor: pointer;
}

@media (max-width: 750px) {
  #nav{
    flex-direction: column;
    align-items: center;
  }
  #nav .columns{
    width: 70%;
  }
}
