<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>
        Devmash Project Submission
    </title>
    <meta content="Project Sumbission Console for Devmash" name="description">
    <meta content="DevmashWEB-Mentor" name="author">
    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport" />
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/skeleton.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="images/favicon.png" rel="icon" type="image/png">
</head>

<body>
    <!-- Content
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <img id="logo"src="images/favicon.png" alt="" />
    <div id="nav"class="row">
      <div class="four columns">
        Web Track
      </div>
      <div class="four columns">
        Python Track
      </div>
      <div class="four columns">
        Android Track
      </div>
    </div>
  </div>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
